<h3 class="mb-4">Log</h3>

<div *ngIf="messages.length === 0">No log entries.</div>

<div *ngIf="messages.length > 0">
  <code style="overflow: hidden" [@slide]="messages.length">
    <p *ngFor="let message of messages; trackBy: trackByFn">
      {{ message.time | date: 'mediumTime' }} - {{ message.text }}
    </p>
  </code>
  <button class="btn btn-secondary btn-sm" (click)="clear()">Clear log</button>
</div>

