<h3 class="mb-4">Blockchain</h3>

<p>
  <button (click)="mine()" class="btn btn-primary btn-lg">Mine!</button>
</p>

<div [@slide]="blockchain?.chain.length">
  <div *ngFor="let block of blockchain?.chain; trackBy: trackByFn" class="block">
    <h4>
      <span class="badge badge-primary">Block {{ block.index }}</span>
      <span class="badge badge-secondary">{{ block.timestamp | date: 'mediumTime' }}</span>
      <span class="badge badge-success">Proof {{ block.proof }}</span>
    </h4>
    <p class="mb-3 text-muted">Previous hash: {{ block.previousHash }}</p>

    <ng-container *ngIf="block.transactions.length === 0">No transactions.</ng-container>
    <ng-container *ngIf="block.transactions.length > 0">
      <div *ngFor="let transaction of block.transactions" class="transaction mt-3">
        <p class="lead mb-0">{{ transaction.id }}</p>
        <span class="badge badge-primary">from {{ transaction.from }}</span>
        <span class="badge badge-secondary">to {{ transaction.to }}</span>
        <span class="badge badge-info">{{ transaction.amount | currency: 'EUR' }}</span>
      </div>
    </ng-container>
  </div>
</div>
